.container__banner{
    position: relative;
    align-items: center;
}
.banner--img{
    width: 100%;
    height: calc(100vh - 200px);
    display: block;
}
.container--texto{
    text-align: center;
    position: absolute;
    top: 50%;

}
.banner--titulo{
    width: 100%;
    font-size: 3.0625rem;
    text-shadow: 0 4px 4px #000000bf;
    color: #ffffff;
    margin-bottom: 10px;
}
.banner--texto{
    font-size: 1.0625rem;
    text-shadow: 0 4px 4px #000000bf;
    color: #ffffff;
}

@media (max-width: 768px){
    .banner--img{
        width: 100%;
        height: calc(100vh - 550px);
        display: block;
    }
    .banner--titulo{
        font-size: 0.6rem;
    }
    .banner--texto{
        font-size: 0.8rem;
    }
}