.container__servicos {
    padding-bottom: 60px;
    background-color: #d3d3d3; /* Define a cor de fundo */
}

/* Define uma classe para o contêiner de imagens na seção 'serviços' */
.container__imagens__servicos {
    display: grid; /* Utiliza grid layout */
    grid-template-columns: 450px 450px 450px; /* Define três colunas de 400px cada */
    gap: 80px; /* Define o espaço entre as colunas */
    justify-content: center;
    margin-top: 50px; /* Adiciona margem superior */
    text-align: center;
}

/* Define estilos para o título dentro da seção 'serviços' */
.titulo__servicos {
    padding-top: 50px; /* Adiciona padding superior */
    margin-bottom: 20px; /* Adiciona margem inferior */
    font-size: 40px; /* Define o tamanho da fonte */
}

/* Define estilos para o texto dentro da seção 'serviços' */
.texto__servicos {
    font-size: 18px; /* Define o tamanho da fonte */
}
.titulo__servicos {
    font-size: 18px;
    text-align: center;
}
.titulo__servicos__1 {
    margin-bottom: 10px;
}
/* Define estilos para textos adicionais dentro da seção 'serviços' */
.texto__servicos__1 {
    color: #777777; /* Define a cor do texto */
    font-size: 14px;
    margin-bottom: 10px;
}

/* Define estilos para elementos específicos dentro da seção 'serviços' */
.servicos__1 {
    border: 1px solid white; /* Adiciona uma borda branca */
    background-color: white; /* Define a cor de fundo */
    border-radius: 20px;
}

/* Define estilos para as imagens dentro da seção 'serviços' */
.imagem__servicos__1 {
    height: 200px;
    width: 200px;
}

.botao-servicos{
    background-color: #00ade7;
    border-color: transparent;
    padding: 0 10px;
    margin-bottom: 10px;
}
.botao-servicos:hover{
    background-color: #00FF94;
}

@media (max-width: 1700px){
    .container__imagens__servicos {
        display: grid; /* Utiliza grid layout */
        grid-template-columns: 350px 350px; /* Define três colunas de 400px cada */
        gap: 40px; /* Define o espaço entre as colunas */
        justify-content: center;
        margin-top: 50px; /* Adiciona margem superior */
        text-align: center;
    }
    
    /* Define estilos para o título dentro da seção 'serviços' */
    .titulo__servicos {
        padding-top: 50px; /* Adiciona padding superior */
        margin-bottom: 20px; /* Adiciona margem inferior */
        font-size: 40px; /* Define o tamanho da fonte */
    }
    
    /* Define estilos para o texto dentro da seção 'serviços' */
    .texto__servicos {
        font-size: 18px; /* Define o tamanho da fonte */
    }
    .titulo__servicos {
        font-size: 18px;
        text-align: center;
    }
    .titulo__servicos__1 {
        margin-bottom: 10px;
    }
    /* Define estilos para textos adicionais dentro da seção 'serviços' */
    .texto__servicos__1 {
        color: #777777; /* Define a cor do texto */
        font-size: 14px;
        margin-bottom: 10px;
    }
    
    /* Define estilos para elementos específicos dentro da seção 'serviços' */
    .servicos__1 {
        border: 1px solid white; /* Adiciona uma borda branca */
        background-color: white; /* Define a cor de fundo */
        border-radius: 20px;
    }
    
    /* Define estilos para as imagens dentro da seção 'serviços' */
    .imagem__servicos__1 {
        height: 200px;
        width: 200px;
    }
    
    .botao-servicos{
        background-color: #00ade7;
        border-color: transparent;
        padding: 0 10px;
        margin-bottom: 10px;
    }
    .botao-servicos:hover{
        background-color: #00FF94;
    }
}

@media (max-width: 740px){
    .container__imagens__servicos {
        display: grid; /* Utiliza grid layout */
        grid-template-columns: 300px 300px; /* Define três colunas de 400px cada */
        gap: 20px; /* Define o espaço entre as colunas */
        justify-content: center;
        margin-top: 50px; /* Adiciona margem superior */
        text-align: center;
    }
    
    /* Define estilos para o título dentro da seção 'serviços' */
    .titulo__servicos {
        padding-top: 50px; /* Adiciona padding superior */
        margin-bottom: 20px; /* Adiciona margem inferior */
        font-size: 40px; /* Define o tamanho da fonte */
    }
    
    /* Define estilos para o texto dentro da seção 'serviços' */
    .texto__servicos {
        font-size: 12px; /* Define o tamanho da fonte */
    }
    .titulo__servicos {
        font-size: 16px;
        text-align: center;
    }
    .titulo__servicos__1 {
        font-size: 14px;
        margin-bottom: 10px;
    }
    /* Define estilos para textos adicionais dentro da seção 'serviços' */
    .texto__servicos__1 {
        color: #777777; /* Define a cor do texto */
        font-size: 10px;
        margin-bottom: 10px;
    }
    
    /* Define estilos para elementos específicos dentro da seção 'serviços' */
    .servicos__1 {
        border: 1px solid white; /* Adiciona uma borda branca */
        background-color: white; /* Define a cor de fundo */
        border-radius: 20px;
    }
    
    /* Define estilos para as imagens dentro da seção 'serviços' */
    .imagem__servicos__1 {
        height: 200px;
        width: 200px;
    }
    
    .botao-servicos{
        font-size: 10px;
        background-color: #00ade7;
        border-color: transparent;
        padding: 0 10px;
        margin-bottom: 10px;
    }
    .botao-servicos:hover{
        background-color: #00FF94;
    }
}

@media (max-width: 620px){
    .container__imagens__servicos {
        display: grid; /* Utiliza grid layout */
        grid-template-columns: 250px 250px; /* Define três colunas de 400px cada */
        gap: 20px; /* Define o espaço entre as colunas */
        justify-content: center;
        margin-top: 50px; /* Adiciona margem superior */
        text-align: center;
    }
    
    /* Define estilos para o título dentro da seção 'serviços' */
    .titulo__servicos {
        padding-top: 50px; /* Adiciona padding superior */
        margin-bottom: 20px; /* Adiciona margem inferior */
        font-size: 40px; /* Define o tamanho da fonte */
    }
    
    /* Define estilos para o texto dentro da seção 'serviços' */
    .texto__servicos {
        font-size: 12px; /* Define o tamanho da fonte */
    }
    .titulo__servicos {
        font-size: 16px;
        text-align: center;
    }
    .titulo__servicos__1 {
        font-size: 14px;
        margin-bottom: 10px;
    }
    /* Define estilos para textos adicionais dentro da seção 'serviços' */
    .texto__servicos__1 {
        color: #777777; /* Define a cor do texto */
        font-size: 10px;
        margin-bottom: 10px;
    }
    
    /* Define estilos para elementos específicos dentro da seção 'serviços' */
    .servicos__1 {
        border: 1px solid white; /* Adiciona uma borda branca */
        background-color: white; /* Define a cor de fundo */
        border-radius: 20px;
    }
    
    /* Define estilos para as imagens dentro da seção 'serviços' */
    .imagem__servicos__1 {
        height: 200px;
        width: 200px;
    }
    
    .botao-servicos{
        font-size: 10px;
        background-color: #00ade7;
        border-color: transparent;
        padding: 0 10px;
        margin-bottom: 10px;
    }
    .botao-servicos:hover{
        background-color: #00FF94;
    }
}

@media (max-width: 460px){
    .container__imagens__servicos {
        display: grid; /* Utiliza grid layout */
        grid-template-columns: 350px; /* Define três colunas de 400px cada */
        gap: 20px; /* Define o espaço entre as colunas */
        justify-content: center;
        margin-top: 50px; /* Adiciona margem superior */
        text-align: center;
    }
    
    /* Define estilos para o título dentro da seção 'serviços' */
    .titulo__servicos {
        padding-top: 50px; /* Adiciona padding superior */
        margin-bottom: 20px; /* Adiciona margem inferior */
        font-size: 40px; /* Define o tamanho da fonte */
    }
    
    /* Define estilos para o texto dentro da seção 'serviços' */
    .texto__servicos {
        font-size: 12px; /* Define o tamanho da fonte */
    }
    .titulo__servicos {
        font-size: 16px;
        text-align: center;
    }
    .titulo__servicos__1 {
        font-size: 14px;
        margin-bottom: 10px;
    }
    /* Define estilos para textos adicionais dentro da seção 'serviços' */
    .texto__servicos__1 {
        color: #777777; /* Define a cor do texto */
        font-size: 10px;
        margin-bottom: 10px;
    }
    
    /* Define estilos para elementos específicos dentro da seção 'serviços' */
    .servicos__1 {
        border: 1px solid white; /* Adiciona uma borda branca */
        background-color: white; /* Define a cor de fundo */
        border-radius: 20px;
    }
    
    /* Define estilos para as imagens dentro da seção 'serviços' */
    .imagem__servicos__1 {
        height: 200px;
        width: 200px;
    }
    
    .botao-servicos{
        font-size: 10px;
        background-color: #00ade7;
        border-color: transparent;
        padding: 0 10px;
        margin-bottom: 10px;
    }
    .botao-servicos:hover{
        background-color: #00FF94;
    }
}

@media (max-width: 320px){
    .container__imagens__servicos {
        display: grid; /* Utiliza grid layout */
        grid-template-columns: 300px; /* Define três colunas de 400px cada */
        gap: 20px; /* Define o espaço entre as colunas */
        justify-content: center;
        margin-top: 50px; /* Adiciona margem superior */
        text-align: center;
    }
    
    /* Define estilos para o título dentro da seção 'serviços' */
    .titulo__servicos {
        padding-top: 50px; /* Adiciona padding superior */
        margin-bottom: 20px; /* Adiciona margem inferior */
        font-size: 40px; /* Define o tamanho da fonte */
    }
    
    /* Define estilos para o texto dentro da seção 'serviços' */
    .texto__servicos {
        font-size: 12px; /* Define o tamanho da fonte */
    }
    .titulo__servicos {
        font-size: 16px;
        text-align: center;
    }
    .titulo__servicos__1 {
        font-size: 14px;
        margin-bottom: 10px;
    }
    /* Define estilos para textos adicionais dentro da seção 'serviços' */
    .texto__servicos__1 {
        color: #777777; /* Define a cor do texto */
        font-size: 10px;
        margin-bottom: 10px;
    }
    
    /* Define estilos para elementos específicos dentro da seção 'serviços' */
    .servicos__1 {
        border: 1px solid white; /* Adiciona uma borda branca */
        background-color: white; /* Define a cor de fundo */
        border-radius: 20px;
    }
    
    /* Define estilos para as imagens dentro da seção 'serviços' */
    .imagem__servicos__1 {
        height: 200px;
        width: 200px;
    }
    
    .botao-servicos{
        font-size: 10px;
        background-color: #00ade7;
        border-color: transparent;
        padding: 0 10px;
        margin-bottom: 10px;
    }
    .botao-servicos:hover{
        background-color: #00FF94;
    }
}