.container__sobre {
    display: grid; /* Utiliza flexbox para organizar os itens em uma linha */
    grid-template-columns: 600px 800px;
    gap: 200px;
    align-items: center; /* Alinha verticalmente os itens ao centro */
    justify-content: center; /* Adiciona espaço entre os itens para melhor layout */
    margin-top: 50px; /* Adiciona margem superior */
    margin-left: 400px;
}

/* Define estilos para o título dentro da seção 'sobre' */
.titulo__sobre {
    margin-bottom: 20px; /* Adiciona margem inferior */
    font-size: 40px; /* Define o tamanho da fonte */
}

/* Define estilos para o texto dentro da seção 'sobre' */
.texto__sobre {
    font-size: 18px; /* Define o tamanho da fonte */
}

/* Define uma classe para a imagem dentro da seção 'sobre' */
.imagem__sobre {
    width: 450px; /* Define a largura da imagem */
    height: 350px; /* Define a altura da imagem */
    margin-right: 200px; /* Adiciona espaço à direita da imagem */
}

.container__sobre1 {
    justify-content: center;
}

.lista__sobre__1 {
    list-style: none;
    text-align: center;
}

.lista__item__sobre__1 {
    padding: 0 20px 30px 20px;
}

.lista__sobre__2 {
    border: solid 3px #00FF94;
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style: none;
    text-align: center;
    align-items: center;
}

.lista__item__sobre__2 {
    padding: 30px 20px 30px 20px;
}

.texto__valores {
    font-weight: bold;
    font-size: 26px;
}

.lista__sobre__1 .lista__item__sobre__1{
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}

.lista__sobre__1 .lista__item__sobre__1::before {
    color: #007BFF;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

.lista__sobre__2 .lista__item__sobre__2 {
    counter-increment: list;
}

/* Define uma classe para o contêiner da seção 'botão' */
.container__botao {
    display: grid;
    justify-content: center;
}  

.button-container {
    display: flex;
    justify-content: center;
    margin: 50px 20px 20px 20px;
    border: solid 1px #ccc; 
    padding: 30px 10px 30px 10px;
}

.botao__sobre {
    padding: 10px 250px;
    margin: 5px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    background-color: var(--cor-principal);
    border-color: transparent;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Propriedades a serem animadas */
}

.botao__sobre:hover {
    background-color: #00FF94; /* Cor de fundo ao passar o mouse */
    transform: scale(1.1); /* Aumenta o tamanho do botão */
}

#info {
    margin-top: 20px;
    padding: 20px;
    
    background-color: #fff;
    width: 100%;
    max-width: 950px;
    text-align: center;
    overflow-wrap: break-word;
    box-sizing: border-box;
    place-self: center;
}

@media (max-width: 1100px){
    .container__sobre{
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 40px;
        align-items: center;
        justify-content: center;
        margin-left: 200px;
    }

    .titulo__sobre {
        flex-grow: 1;
        font-size: 2.0625rem;
        text-align: center;
    }
    .texto__sobre {
        font-size: 0.8025rem;
        text-align: center;
    }
    .imagem__sobre {
        width: 250px;
        height: 250px;
    }
    .botao__sobre {
        padding: 10px 150px;
    }
    .lista__sobre__1 .lista__item__sobre__1{
        font-size: 12px;
        margin: 5px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .button-container {
        margin: 50px 10px 10px 10px;
        padding: 30px 30px 30px 30px;
    }
    .container__texto__sobre {
        margin-right:  10px;
        margin-left: 10px;
        align-items: center;
    }
    .lista__sobre__2{
        align-items: center;
        gap: 20px;
    }
    .lista__item__sobre__2 {
        padding: 15px 4px 15px 4px;
    }
    .texto__valores {
        font-weight: bold;
        font-size: 12px;
    }
}
@media (max-width: 768px){
    .container__sobre{
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 40px;
        align-items: center;
        justify-content: center;
        margin-left: 100px;
    }

    .titulo__sobre {
        flex-grow: 1;
        font-size: 2.0625rem;
        text-align: center;
    }
    .texto__sobre {
        font-size: 0.8025rem;
        text-align: center;
    }
    .imagem__sobre {
        width: 250px;
        height: 250px;
    }
    .botao__sobre {
        padding: 5px 50px;
        width: 330px;
    }
    .lista__sobre__1 .lista__item__sobre__1{
        font-size: 12px;
        margin: 5px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .button-container {
        margin: 50px 10px 10px 10px;
        padding: 30px 5px 30px 5px;
    }
    .container__texto__sobre {
        margin-right:  10px;
        margin-left: 10px;
        align-items: center;
    }
    .lista__sobre__2{
        align-items: center;
        gap: 20px;
    }
    .lista__item__sobre__2 {
        padding: 15px 4px 15px 4px;
    }
    .texto__valores {
        font-weight: bold;
        font-size: 12px;
    }
}
@media (max-width: 750px){
    .container__sobre{
        display: flex;
        flex-direction: column;
        margin-left: 0;
        align-items: center;
    }

    .titulo__sobre {
        flex-grow: 1;
        font-size: 2.0625rem;
        text-align: center;
    }
    .texto__sobre {
        font-size: 0.8025rem;
        text-align: center;
    }
    .imagem__sobre {
        width: 250px;
        height: 250px;
        margin-left: 200px;
    }
    .botao__sobre {
        padding: 5px 20px;
        width: 150px;
    }
    .lista__sobre__1 .lista__item__sobre__1{
        font-size: 12px;
        margin: 5px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .button-container {
        margin: 50px 10px 10px 10px;
        padding: 30px 5px 30px 5px;
    }
    .container__texto__sobre {
        margin-right:  10px;
        margin-left: 10px;
        align-items: center;
    }
    .lista__sobre__2{
        align-items: center;
        gap: 20px;
    }
    .lista__item__sobre__2 {
        padding: 15px 4px 15px 4px;
    }
    .texto__valores {
        font-weight: bold;
        font-size: 12px;
    }
}
@media (max-width: 375px){
    .container__sobre{
        display: flex;
        flex-direction: column;
        margin-left: 0;
        align-items: center;
    }

    .titulo__sobre {
        flex-grow: 1;
        font-size: 2.0625rem;
        text-align: center;
    }
    .texto__sobre {
        font-size: 0.8025rem;
        text-align: center;
    }
    .imagem__sobre {
        width: 250px;
        height: 250px;
        margin-left: 200px;
    }
    .botao__sobre {
        padding: 5px 20px;
        width: 100px;
    }
    .lista__sobre__1 .lista__item__sobre__1{
        font-size: 12px;
        margin: 5px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .button-container {
        margin: 50px 10px 10px 10px;
        padding: 30px 5px 30px 5px;
    }
    .container__texto__sobre {
        margin-right:  10px;
        margin-left: 10px;
        align-items: center;
    }
    .lista__sobre__2{
        align-items: center;
        gap: 20px;
    }
    .lista__item__sobre__2 {
        padding: 15px 4px 15px 4px;
    }
    .texto__valores {
        font-weight: bold;
        font-size: 12px;
    }
}