---
layout: layout.njk
title: Blog da SoftWave
---

<h1 class="titulo-blog">Blog da SoftWave</h1>

<div class="blog-container">
  {% for post in collections.posts reversed %}
    <div class="post-card">
      <a href="{{ post.url }}">
        {% if post.data.thumbnail %}
          <img src="{{ post.data.thumbnail }}" alt="{{ post.data.title }}" />
        {% endif %}
        <h2>{{ post.data.title }}</h2>
      </a>
      <small>{{ post.date | date("dd/MM/yyyy") }}</small>
      <p><a href="{{ post.url }}">Leia mais →</a></p>
    </div>
  {% endfor %}
</div>
