---
layout: layout.njk
title: Soft Blog
permalink: "blog/index.html"
---

  <div class="blog-texts">
    <h1 class="blog-title">Bem-vindo ao Soft Blog</h1>
    <p class="blog-text">Seu portal de notícias tecnológicas</p>
  </div>

    <div class="blog-grid">
      {% for post in collections.posts | reverse %}
        <div class="preview-container">
          <h2 class="preview-title"><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
          <img src="{{ post.data.thumbnail }}" alt="Imagem do post" class="preview-img">
          <a class="read-link" href="{{ post.url }}">Ler mais</a>
        </div>
      {% endfor %}
    </div>

