.banner {
    padding-top: 5px; /* Adiciona um pequeno padding no topo */
    width: 100%; /* Define a largura como 100% do elemento pai */
    max-width: 3840px; /* Define a largura máxima */
    height: auto; /* Define a altura automática */
    max-height: 500px; /* Define a altura máxima */
}

/* Define uma classe para um contêiner de texto dentro de um banner */
.container__texto {
    color: #ffffff; /* Define a cor do texto como branca */
    background-color: #00000080; /* Define o fundo como preto com 50% de opacidade */
    padding: 10px; /* Adiciona padding ao redor do texto */
    border-radius: 5px; /* Adiciona bordas arredondadas */
}

/* Define estilos para o título e o texto dentro do banner */
.titulo__banner, .texto__banner {
    margin: 0; /* Remove margens */
}

/* Define o tamanho da fonte para o título dentro do banner */
.titulo__banner {
    font-size: 48px; /* Define o tamanho da fonte como 48 pixels */
}

/* Define o tamanho da fonte para o texto dentro do banner */
.texto__banner {
    font-size: 20px; /* Define o tamanho da fonte como 20 pixels */
}

/* Define uma classe para um contêiner de seção 'sobre' */
.container__sobre {
    display: flex; /* Utiliza flexbox para organizar os itens em uma linha */
    grid-template-columns: 50% 50%;
    align-items: center; /* Alinha verticalmente os itens ao centro */
    justify-content: space-between; /* Adiciona espaço entre os itens para melhor layout */
    margin-top: 50px; /* Adiciona margem superior */
}

/* Define uma classe para o texto dentro da seção 'sobre' */
.container__texto__sobre {
    flex: 1; /* Faz o texto ocupar o espaço disponível */
    margin-right: 200px; /* Adiciona espaço à direita do texto para separar da imagem */
    margin-left: 200px; /* Adiciona espaço à esquerda do texto */
}

/* Define estilos para o título dentro da seção 'sobre' */
.titulo__sobre {
    margin-bottom: 20px; /* Adiciona margem inferior */
    font-size: 40px; /* Define o tamanho da fonte */
}

/* Define estilos para o texto dentro da seção 'sobre' */
.texto__sobre {
    font-size: 18px; /* Define o tamanho da fonte */
}

/* Define uma classe para a imagem dentro da seção 'sobre' */
.imagem__sobre {
    width: 450px; /* Define a largura da imagem */
    height: 350px; /* Define a altura da imagem */
    margin-right: 200px; /* Adiciona espaço à direita da imagem */
    margin-left: 200px;
}

/* Define uma classe para o contêiner da seção 'serviços' */
.container__servicos {
    margin-top: 50px; /* Adiciona margem superior */
    background-color: #d3d3d3; /* Define a cor de fundo */
    margin-bottom: 50px;
    padding-bottom: 60px;
    min-height: 100vh;
}

.container__servicos__slide{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    margin-top: 20px;
}

.conteudo__slide{
    margin: 10px 40px;
}

.card{
    border-radius: 25px;
    background-color: #fff;
    padding: 10px;
}

/* Define estilos para o título dentro da seção 'serviços' */
.titulo__servicos {
    padding-top: 50px; /* Adiciona padding superior */
    margin-bottom: 20px; /* Adiciona margem inferior */
    font-size: 40px; /* Define o tamanho da fonte */
}

/* Define estilos para o texto dentro da seção 'serviços' */
.texto__servicos {
    font-size: 18px; /* Define o tamanho da fonte */
}

/* Define estilos para textos adicionais dentro da seção 'serviços' */

.card__imagem, .conteudo__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.card__imagem{
    position: relative;
    height: 300px;
    width: 300px;
}

.card__imagem .card__img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.container__contato{
    display: grid;
    grid-template-columns: 70px 300px 100px 300px 300px;
    justify-content: space-evenly;
    align-items: center;
}

.logo__contato{
    width: 12rem;
    height: 12rem;
}

.lista__contatos{
    list-style: none;
}

.lista__link__contatos{
    text-decoration: none;
    color: #000000;
}

.lista__item__contatos{
    margin-bottom: 10px;
}

.titulo__contato_1{
    padding: 5px;
    margin-bottom: 5px;
}

.titulo__contato_2{
    padding-bottom: 10px;
}

.texto__contato_2{
    margin-bottom: 8px;
}

.container__botao{
    display: grid;
    justify-content: center;

}  

.button-container {
    display: flex;
    justify-content: center;
    margin: 50px 20px 20px 20px;
    border: solid 1px #ccc; 
    padding: 30px 10px 30px 10px;
}

.botao__sobre {
    padding: 10px 250px;
    margin: 5px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    background-color: var(--cor-principal);
    border-color: transparent;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Propriedades a serem animadas */
}

.botao__sobre:hover {
    background-color: #00FF94; /* Cor de fundo ao passar o mouse */
    transform: scale(1.1); /* Aumenta o tamanho do botão */
}

#info {
    margin-top: 20px;
    padding: 20px;
    
    background-color: #fff;
    width: 100%;
    max-width: 950px;
    text-align: center;
    overflow-wrap: break-word;
    box-sizing: border-box;
    place-self: center;
}

.container__sobre1{
    justify-content: center;
}

.lista__sobre__1{
    list-style: none;
    text-align: center;
}

.lista__item__sobre__1{
    padding: 0 20px 30px 20px;
}

.lista__sobre__2{
    
    border: solid 3px #00FF94;
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style: none;
    text-align: center;
}

.lista__item__sobre__2{
    padding: 30px 20px 30px 20px;
}

.texto__valores{
    font-weight: bold;
    font-size: 26px;
}

.lista__sobre__1 .lista__item__sobre__1, .lista__sobre__2 .lista__item__sobre__2 {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}

.lista__sobre__1 .lista__item__sobre__1::before {
    color: #007BFF;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

.lista__sobre__2 .lista__item__sobre__2 {
    counter-increment: list;
}

