<header class="container">
  <div class="header-container">
    <nav>
      <a href="index.html">
        <img src="/img/Logo SoftWave.png" alt="SoftWave Solutions Logo" class="logo">
      </a>
      <ul class="nav-links">
        <li><a href="services.html">Serviços</a></li>
        <li><a href="blog.html">Soft Blog</a></li>
        <li><a href="about.html">Sobre Nós</a></li>
        <li><a href="contact.html">Contato</a></li>
      </ul>
    </nav>
  </div>
</header>
