<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Official Site SoftWave Solutions. Hire our services for web development, mobile applications, and digital marketing.">
    <meta name="keywords" content="web development, mobile applications, digital marketing, SoftWave Solutions">
    <meta name="author" content="Softwave Solutions">
    <meta property="og:description" content="A SoftWave pode te ajudar com a maior variedade de serviços tecnológicos.">
    <meta property="og:url" content="https://softwavesl.com.br">
    <meta property="og:title" content="SoftWave">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="../IMG/Logo SoftWave.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/blog.css" />
    <title>{{ title }}</title>
  </head>
  <body>
    {% include "header.njk" %}
    <main>{{ content | safe }}</main>
    {% include "footer.njk" %}
  </body>
</html>
